body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.container {
    text-align: center;
    background: #1c1c1c;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    width: 90%;
    max-width: 400px;
}

input, button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
}

button {
    background: #00c3ff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #0099cc;
}