<!DOCTYPE html>
<html>
<head>
    <title>FaceGame</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google AdSense -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6093918497884737"
     crossorigin="anonymous"></script>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">

<h1>🎮 FaceGame</h1>

<form action="/upload" method="post" enctype="multipart/form-data">

<label>Seu Nome:</label>
<input type="text" name="nome" placeholder="Digite seu nome" required>

<input 
type="file"
name="file"
accept="image/*"
capture="environment"
required>

<button type="submit">Enviar Foto</button>

</form>

<br>

<a href="/ranking">🏆 Ver Ranking</a>

</div>

</body>
</html>