<!DOCTYPE html>
<html>
<head>
    <title>Ranking da Beleza</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{background:#111;color:white;text-align:center;font-family:Arial;}
        h1{color:#00ffcc;}
        .card{background:#222;margin:15px auto;padding:15px;width:400px;border-radius:10px;box-shadow:0 0 10px #00ffcc44;}
        img{width:120px;border-radius:10px;}
        .score{font-size:24px;color:#00ffcc;}
        .gold{color:gold;}
        .silver{color:silver;}
        .bronze{color:#cd7f32;}
        
    </style>
    <!-- Google AdSense -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6093918497884737"
     crossorigin="anonymous"></script>

</head>
<body>
<h1>🏆 Ranking FaceGame</h1>

{% for jogador in dados %}
<div class="card">
    <h2>
        {% if loop.index == 1 %}<span class="gold">🥇 1º Lugar</span>
        {% elif loop.index == 2 %}<span class="silver">🥈 2º Lugar</span>
        {% elif loop.index == 3 %}<span class="bronze">🥉 3º Lugar</span>
        {% else %}{{ loop.index }}º Lugar{% endif %}
    </h2>
    <img src="{{ url_for('static', filename='processed/' + jogador[1]) }}">
    <div class="score">Pontuação: {{ jogador[2] }}/10</div>
    <div class="nome">Nome: {{ jogador[0] }}</div>
</div>
{% endfor %}

<br>
<br>

<div style="margin-top:20px;">
    <a href="https://www.facebook.com/sharer/sharer.php?u=https://SEUSITE.com" target="_blank">
        <button>📤 Compartilhar Ranking</button>
    </a>

    <a href="https://wa.me/?text=Olha esse ranking do Desafio da Nota 😂 https://SEUSITE.com" target="_blank">
        <button>📱 Enviar para amigos</button>
    </a>
</div>

<br>
<a href="/">⬅ Voltar</a>
<a href="/">⬅ Voltar</a>
</body>
</html>
