<!DOCTYPE html>
<html>
<head>
    <title>Resultado Ranking da Beleza</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google AdSense -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6093918497884737"
     crossorigin="anonymous"></script>

</head>
<body style="text-align:center">
<div style="margin:20px auto;">
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-6093918497884737"
         data-ad-slot="SEU_SLOT_AQUI"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
<h1>Resultado de {{ nome }}</h1>
<img src="{{ image_url }}" width="300"><br>
<h2>Score: {{ score }}/10</h2>

<!-- BOTÕES DE COMPARTILHAR -->
<div style="margin-top:15px;">
    <a href="https://www.facebook.com/sharer/sharer.php?u=https://SEUSITE.com" target="_blank">
        <button>📤 Compartilhar no Facebook</button>
    </a>

    <a href="https://wa.me/?text=Descobri minha nota no Desafio da Nota 😂 https://SEUSITE.com" target="_blank">
        <button>📱 Compartilhar no WhatsApp</button>
    </a>
</div>

<br>

<a href="/ranking"><button>🏆 Ver Ranking</button></a><br>
<a href="/"><button>⬅ Voltar</button></a>
<a href="/ranking"><button>🏆 Ver Ranking</button></a><br>
<a href="/"><button>⬅ Voltar</button></a>
</body>
</html>